## Name : Gyaneshwer Jha
## Reg : 21BCT0186

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=np.random.rand(4,4)

In [3]:
df = pd.DataFrame(data,columns=['f1','f2','f3','f4'])
df

         f1        f2        f3        f4
0  0.260111  0.786379  0.135791  0.068121
1  0.150185  0.617682  0.732790  0.270176
2  0.548434  0.170675  0.624178  0.710322
3  0.578012  0.349257  0.031776  0.971193

# Rename the task

In [4]:
df.rename(columns={'f1':'Random value 1','f2':'Random value 2','f3':'Random value 3','f4':'Random value 4'},inplace = True)
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.260111        0.786379        0.135791        0.068121
1        0.150185        0.617682        0.732790        0.270176
2        0.548434        0.170675        0.624178        0.710322
3        0.578012        0.349257        0.031776        0.971193

## Find the descriptive statistics of the 'df' dataframe.

In [5]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.384186        0.480998        0.381134        0.504953
std          0.211894        0.274224        0.348796        0.410487
min          0.150185        0.170675        0.031776        0.068121
25%          0.232630        0.304612        0.109787        0.219662
50%          0.404273        0.483470        0.379984        0.490249
75%          0.555829        0.659856        0.651331        0.775539
max          0.578012        0.786379        0.732790        0.971193

## Check for the null values in 'df' and find the data type of the columns.

In [6]:
df.isnull().any()

Random value 1    False
Random value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [7]:
type(df.isnull().any())

pandas.core.series.Series

## Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [8]:
df['Random value 2']

0    0.786379
1    0.617682
2    0.170675
3    0.349257
Name: Random value 2, dtype: float64

In [9]:
df['Random value 3']

0    0.135791
1    0.732790
2    0.624178
3    0.031776
Name: Random value 3, dtype: float64

In [10]:
df.loc[:,['Random value 2','Random value 3']]

   Random value 2  Random value 3
0        0.786379        0.135791
1        0.617682        0.732790
2        0.170675        0.624178
3        0.349257        0.031776

In [11]:
df.iloc[:,[1,2]]

   Random value 2  Random value 3
0        0.786379        0.135791
1        0.617682        0.732790
2        0.170675        0.624178
3        0.349257        0.031776